.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .content {
    text-align: center;
    color: #fff;
  }
  .content h1 {
    font-size: 4rem;
    margin-bottom: 2px;
    text-shadow: 2px 8px 4px rgba(0, 0, 0, 0.7);
  }
  
  .content p {
    font-size: 1rem;
    margin-bottom: 40px;
    color: #fff;
  }
  
  .linkContainer {
    display: flex;
    justify-content: center;
  }
  
  .button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    margin: 0 10px;
    font-size: 1.4rem;
    transition: background-color 0.3s ease;
    box-shadow: 2px 8px 4px rgba(0, 0, 0, 0.7);
    border: 1px solid wheat;
  }
  
  .button:hover {
    background-color: #333;
  }
  